/*4. CSS Básico e Box Model - Crie um arquivo styles.css e vincule-o em
index.html:
- Defina cores de fundo (background-color) e de texto (color) para <header>,
<main> e <footer>.
- Para cada uma dessas seções, aplique margin, padding e border de forma a
evidenciar seus contornos.*/

header {
    background-color: #4CAF50; 
    color: white; 
    margin: 20px; 
    padding: 15px; 
    border: 2px solid black; 
}

main {
    background-color: #f4f4f4; 
    color: #333; 
    margin: 20px; 
    padding: 15px; 
    border: 2px solid black; 
}

footer {
    background-color: #333; 
    color: white; 
    margin: 20px; 
    padding: 15px; 
    border: 2px solid black; 
}
/* 5. Seletores e Propriedades - No mesmo styles.css, adicione:

- Um estilo para todas as tags <h2> que aumente a font-size e aplique text-
decoration: underline.

- Uma classe .destaque que deixe o texto em itálico (font-style: italic) e aplique
um leve background-color.

- Um ID #importante que adicione border-top mais espessa em um parágrafo
específico. */

h2 {
    font-size: 40px;
    text-decoration: underline;
}

.destaque {
    font-style: italic;
    background-color: #ffffcc; 
}